@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 225 6% 8%; /* #131416 */
    --foreground: 210 40% 98%;
    --card: 225 6% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 225 6% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 93% 47%; /* A muted gold/yellow */
    --primary-foreground: 225 6% 8%;
    --secondary: 225 6% 23%;
    --secondary-foreground: 210 40% 98%;
    --muted: 225 6% 23%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 225 6% 33%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 6% 23%;
    --input: 225 6% 23%;
    --ring: 45 93% 47%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 225 6% 8%; /* #131416 */
    --foreground: 30 10% 80%;
    --card: 225 6% 10%; /* Slightly lighter than bg */
    --card-foreground: 30 10% 80%;
    --popover: 225 6% 8%;
    --popover-foreground: 30 10% 80%;
    --primary: 45 93% 47%; /* Muted gold/yellow */
    --primary-foreground: 225 6% 8%;
    --secondary: 225 6% 15%;
    --secondary-foreground: 30 10% 80%;
    --muted: 225 6% 15%;
    --muted-foreground: 30 10% 60%;
    --accent: 225 6% 20%;
    --accent-foreground: 30 10% 90%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 225 6% 15%;
    --input: 225 6% 15%;
    --ring: 45 93% 47%;
    --chart-1: 45 93% 47%;
    --chart-2: 30 10% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
